[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fpc"]
	path = fpc
	url = https://github.com/cran/fpc
[submodule "prabclus"]
	path = prabclus
	url = https://github.com/cran/prabclus
[submodule "smoothmest"]
	path = smoothmest
	url = https://github.com/cran/smoothmest
